{% extends "base.html" %}

{% block megaoffer %}
{% load static %}


<div class="mega-offer"style="background-image: url('{% static 'images/mega.jpg' %}'); background-size: cover; background-position: center;" >
<div class="container py-5 position-relative" >
  <div class="row align-items-center g-5"style="padding-top:30px">
    
    <!-- Text Section -->
    <div class="col-md-6 fade-in"style="padding-left:20px;margin-left:30px">
      <h1 class="display-5 fw-bold mb-4"style="font-family: 'Times New Roman', Times, serif;color:white;text-shadow: 1px 1px 1px white;">
        <span class="gradient-text">Mega Offer's</span><br>from Ours Company
      </h1>
      <p class="lead mb-4"style="font-family: 'Times New Roman', Times, serif;color:white;">Discover how our clients transformed their businesses with our solutions. Authentic testimonials and success stories that inspire.</p>
      <div class="d-flex flex-wrap gap-3">
        <a class="btn btn-primary btn-lg"style="font-family: 'Times New Roman', Times, serif;color:white" href="/megaoffer" role="button">Views Offer's</a>
        <a class="btn btn-outline-primary btn-lg"style="font-family: 'Times New Roman', Times, serif;color:white" href="/list" role="button">Views Results</a>
      </div>
    </div>

    <!-- Image + Testimonial Section -->
    <div class="col-md-4 fade-in position-relative"style="padding-top:30px;margin-left:60px">
      <div class="rounded shadow-lg overflow-hidden position-relative"data-aos="zoom-in"style="height:100%;width:100%">
        <img src="{% static 'images/mega1.png' %}"
             class="img-fluid rounded" alt="Happy customers"style="height:100%;width:100%; ">
      </div>
    </div>
  </div>


  <div class="container py-5" style="margin-left:10px ;">
    <!-- First Row -->
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 mb-4" data-aos="fade-right" data-aos-duration="2000">
        <img src="{% static 'images/mega2.png' %}" alt="Mega2" class="figure-img img-fluid">
      </div>
      <div class="col-md-5 mb-4" data-aos="fade-left" data-aos-duration="2000">
        <img src="{% static 'images/mega3.png' %}" alt="Mega3" class="figure-img img-fluid">
      </div>
    </div>

    <!-- Second Row -->
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 mb-4" data-aos="fade-right" data-aos-duration="2000">
        <img src="{% static 'images/mega4.png' %}" alt="Mega4" class="figure-img img-fluid">
      </div>
      <div class="col-md-5 mb-4" data-aos="fade-left" data-aos-duration="2000">
        <img src="{% static 'images/mega5.png' %}" alt="Mega5" class="figure-img img-fluid">
      </div>
    </div>

    <!-- Third Row -->
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 mb-4" data-aos="fade-right" data-aos-duration="2000">
        <img src="{% static 'images/mega6.png' %}" alt="Mega6" class="figure-img img-fluid">
      </div>
      <div class="col-md-5 mb-4" data-aos="fade-left" data-aos-duration="2000">
        <img src="{% static 'images/mega7.png' %}" alt="Mega7" class="figure-img img-fluid">
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap 5 JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- AOS JS -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true, // Animation occurs once
      duration: 2000, // Default duration, can be overridden per element
      easing: 'ease-in-out'
    });
  </script>




{% endblock megaoffer %}