
.hero-section {
  background-image: url('static/images/bg10.avif') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  flex-direction: column;
  padding: 0 15px;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }
}





.feature-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #f5f5f5;
  font-family: 'Georgia', serif;
}

.feature-section h2 {
  color: #008080;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.feature-section p {
  font-size: 1.2rem;
  color: #333;
  max-width: 900px;
  margin: 0 auto 50px;
  line-height: 1.8;
}

.feature-box {
  background: #fff;
  border-radius: 10px;
  padding: 30px 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  background: url('images/bg12.avif') no-repeat center center/cover;
}

.feature-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.feature-box h5 {
  color: #008080;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.feature-box h4 {
  font-weight: bold;
  color: #222;
}



.card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 10px;
  overflow: hidden;

}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 235px;
  border-bottom: 2px solid #fff;
}

.card-title {
  font-size: 1.2rem;
  margin: 10px 0 5px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.card-text {
  font-size: 0.95rem;
  color: white;
  padding: 0 10px;
  text-align: justify;
  line-height: 1.4;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Optional: Equal height for text blocks */
.card-text {
  min-height: 120px;
}



.container {
  padding-top: 30px;
  background: linear-gradient(to right, #1e3c72, #2a5298); /* Sample gradient background */
  color: white;
}
