
/* .hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .hero-content p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

   */
  


   .testimonial-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #222;
    background: rgba(255, 255, 255, 0.85);
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 90%;
    font-size: 0.95rem;
    width: 80%;
    /* margin: 80px auto; */
  }
  .image-container {
    width: auto;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  }
  .carousel-inner {
    transition: opacity 1s ease-in-out;
  }
  @media (max-width: 767px) {
    .testimonial-overlay {
      font-size: 0.85rem;
      padding: 10px;
    }
  }


 


  
.figure-img {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    .figure-img:hover {
      transform: scale(1.05);
    }

    .figure {
      margin: 2rem 0;
    }
